{% extends 'base/authbase.html' %}

{% load view_breadcrumbs %}


{% block content %}
    <section class="import-csv">
        <div class="container">
            <div class="row">
                <div class="col col-lg-4 offset-lg-4 mb-3">
                    <h2 style="color: white">Import CSV</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% include 'parts/forms/simple_form.html' %}
                        <input class="btn btn-primary mt-3" type="submit"
                               value="Submit">
                    </form>
                </div>
                <div class="d-none d-lg-block col-lg-4"></div>
            </div>
        </div>
    </section>
{% endblock content %}