{% extends 'base/authbase.html' %}

{% block TITLE %}
{{ title }}
{% endblock TITLE %}

{% block content %} 
<div class="container text-center">
    <div class="row align-items-start">
        {% for product in Favorites %}
            <div class="col">
                {% if product.items.image%}
                    <img src="{{ product.items.image.url }}" class="product-image p-3" alt="{{ product.items.name }}" height = "150px" width="160px">
                {%else%}
                    <h5 class="product-image p-3">Here shulld be a picture of: {{ product.items.name }}</h5>
                {%endif%}
                <h5 class="card-title">{{ product.items.name }}</h5>

                {% if product.products.items.exists %}
                    {% for sub in Items %}
                        <p>{{ sub.name }}</p>
                        <img src="{{ sub.image.url }}" class="product-image p-3" alt="{{ product.items.name }}">
                    {% endfor %}
                {% endif %}

                <p>UAH: {% widthratio product.items.curs 1 product.items.price %}</p> 

                {% include 'parts/forms/add_to_cart.html' with item_id=product.items.id %}

                <a href="{% url 'add_or_remove_favorite' product.items.id %}">
                    {% if not product.items.is_favorite %}
                       <svg xmlns="http://www.w3.org/2000/svg"
                           width="16" height="16"
                           fill="currentColor"
                           class="bi bi-heart"
                           viewBox="0 0 16 16">
                           <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                       </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16"
                         fill="currentColor"
                         class="bi bi-heart-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    {% endif %}
                </a>                
                
            </br>
                {% comment %} {% include 'parts/forms/add_to_favorites.html' with item_id=product.id %}  {% endcomment %}
            </div>
            {% empty %}
            <h3>Your favorite is empty.</h3>
                <p>Goto <a href="{% url 'main' %}">products</a>
                    page and add something good to favorite.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}